html {
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
}

body {
	margin: 0;
	background-color: #171b1c;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* TOOLTIP */

#tooltip {
	display: none;
	background: #fff;
	color: black;
	font-weight: bold;
	padding: 4px 10px;
	font-size: 13px;
	border-radius: 4px;
	box-shadow: 1px 1px 10px 1px #656565;
	width: 280px;
	z-index: 99;
}

#tooltip[data-show] {
	display: block;
}

#tooltip[data-popper-placement^="top"] > #arrow {
	bottom: -4px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
	top: -4px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
	right: -4px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
	left: -4px;
}

#arrow,
#arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
	z-index: 99;
}

#arrow {
	visibility: hidden;
}

#arrow::before {
	visibility: visible;
	content: "";
	transform: rotate(45deg);
}

#tooltip > .solution {
	/* max-height: 200px;
	overflow-y: auto; */
	height: fit-content;
}

#tooltip > .solution {
	margin: 0 8px;
	padding: 0 0 0 15px;
	list-style-type: disc;
}

#tooltip > .solution > li {
	margin: 2.5px 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.divider {
	margin: 40px 0px;
}

.container {
	background-color: #171b1c;
	width: 100%;
	height: fit-content;
	padding: 32px 0px;
	border-radius: 16px;
	margin-bottom: 32px;
}

section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top {
	flex-direction: column;
	justify-content: center;
}

.top > .top-divider {
	margin-top: 20px;
	width: 100%;
	height: 1px;
	background-color: #ffffff20;
}

.top > .top-left > h1 {
	font-size: 30px;
	text-align: center;
}

.top > .top-left > p {
	font-size: 15px;
	margin-top: 5px;
	color: #919595;
	text-align: center;
	margin-bottom: 5px;
}

.top > .dropdown {
	position: relative;
}

.top > .dropdown > .language-button {
	width: 15px;
	height: 15px;
	padding: 12px;
	display: flex;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.top > .dropdown > .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.top > .dropdown > .dropdown-content > .lang-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	cursor: pointer;
}

.top > .dropdown .lang {
	width: 28px;
	height: 28px;
}

.top > .dropdown > .dropdown-content > .lang-box > p {
	color: black;
	text-decoration: none;
	display: block;
	margin-left: 8px;
	font-size: 14px;
}

.top > .dropdown > .dropdown-content .lang-box:hover > p {
	text-decoration: underline;
}

.drop-down-show {
	display: block !important;
}

/* SECTION: time-seriers-db */

.time-seriers-db {
	flex-direction: column;
}

.time-seriers-db > .air-info {
	padding: 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	width: 100%;
}

.index-circle,
.forecast-index-circle {
	flex: 1;
}

.index-circle > .index {
	background: conic-gradient(#e0bb4b 0deg, #383838 0deg);
}

.forecast-index-circle > .forecast-index {
	background: conic-gradient(#8f3f97 360deg, #383838 0deg);
}

.index-circle > .index,
.forecast-index-circle > .forecast-index {
	position: relative;
	height: 65px;
	width: 65px;
	border-radius: 50%;
	display: flex;
	/* margin-right: 10px; */
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;
}

.index-circle > .index::before {
	background-color: #18191c;
}

.forecast-index-circle > .forecast-index::before {
	background-color: rgb(0, 20, 62);
}

.index-circle > .index::before,
.forecast-index-circle > .forecast-index::before {
	content: "";
	position: absolute;
	height: 55px;
	width: 55px;
	border-radius: 50%;
}

.index-circle > .index > span,
.forecast-index-circle > .forecast-index > span {
	position: relative;
}

.time-seriers-db > .air-info > .text {
	word-wrap: break-word;
	flex: 1;
	text-align: center;
	margin-top: 16px;
}

.time-seriers-db > .air-info > .text > h4 {
	margin-bottom: 8px;
}

.time-seriers-db > .air-info > .text > p {
	color: #919595;
	font-size: 14px;
	word-wrap: break-word;
	width: 350px;
}

.time-seriers-db .chart-container {
	display: flex;
	justify-content: center;
	position: relative;
	height: 20vh;
	width: 95vw;
}

/* FORECAST */

.forecast {
	flex-direction: column;
	align-items: center;
	padding: 0 16px;
}

.forecast h4,
h1 {
	font-weight: bold;
}

.forecast > .inner-wrap {
	width: 100%;
}

.forecast > .inner-wrap:first-child {
	margin-bottom: 1em;
}

.forecast > .inner-wrap:not(:first-child):not(:last-child) {
	margin: 1em 0;
}

.forecast > .inner-wrap:last-child {
	margin-top: 1em;
}

.forecast-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 20px;
	background-color: #fcf3e0;
	color: #000000;
	border-radius: 10px;
}

.forecast-left {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.forecast-left > p {
	margin-bottom: 8px;
}

.forecast-right {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: center;
}

.forecast-level {
	background-color: #f5daa1;
	padding: 5px 12px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 16px;
	width: fit-content;
}

.forecast-aqi {
	width: fit-content;
}

.forecast-right-wrapper {
	width: 85px;
	height: 85px;
	background-color: #f3ce7f;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border: 1px solid #ffffff;
}

#forecast-aqi-icon {
	width: 64px;
	height: 64px;
}

/* Style pollutants accordion */
.detail-pollutants {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.detail-pollutants > .accordion {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: 0.4s;
	font-size: 13px;
	cursor: pointer;
	padding: 0 8px;
}

.detail-pollutants > .accordion p {
	margin-right: 8px;
}

.detail-pollutants > .accordion i {
	color: #c3c3c3;
	border: none;
}

.detail-pollutants > .panel-wrapper {
	display: none;
	padding: 0 18px;
}

.detail-pollutants > .panel-wrapper > .panel {
	display: grid;
	margin-top: 16px;

	grid-template-columns: 1fr 1fr;
	grid-row: auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.pollutant-card {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	padding: 0.5em;
	height: fit-content;
	cursor: pointer;
}

.pollutant-card > .index-pollutant {
	position: relative;
	height: 62px;
	width: 62px;
	background: conic-gradient(#e0bb4b 0deg, #646e70 0deg);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-weight: 900;
}

.pollutant-card > .index-pollutant::before {
	content: "";
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #242c2e;
	border-radius: 50%;
}

.pollutant-card > .index-pollutant > span {
	position: relative;
	font-size: 13px;
}

.pollutant-card h4 {
	font-size: 13px;
	color: #171b1c;
}

.pollutant-card p {
	font-size: 12px;
	color: #171b1c;
	width: 60px;
	font-weight: bold;
}

/* LAST UPDATED */

.panel-wrapper > .updated_time {
	font-size: 11px;
	color: #ffffffaf;
	text-align: right;
}

/* LEGEND */

.panel-wrapper > .color_legend > p {
	margin-bottom: 6px;
}

.panel-wrapper > .color_legend > .legend_divider {
	width: 100%;
	height: 2px;
	background-color: #ffffff20;
}

.panel-wrapper > .color_legend {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.panel-wrapper > .color_legend > .legend_container {
	display: grid;
	margin-top: 32px;

	grid-template-columns: 1fr 1fr;
	grid-row: auto auto;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.panel-wrapper > .color_legend > .legend_container > .legend {
	display: flex;
	align-items: center;
}

.color_legend > .legend_container > .legend > .color {
	width: 32px;
	height: 16px;
}

.color_legend > .legend_container > .legend > p {
	width: 100%;
	font-size: 14px;
	text-align: center;
	word-wrap: break-word;
}

/* GUIDE BOOK */
.guide-book {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
}

#guid-book-canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: white;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* Floating Action Button */
.floating-action-button {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0bdbc7;
	cursor: pointer;
	margin: 8px;
}

.floating-action-button > .fab-book {
	height: 26px;
	width: 26px;
}

@media only screen and (min-width: 768px) {
	body {
		background-color: #ffffff;
		height: 100%;
	}

	.container {
		margin-top: 24px;
		background-color: #171b1c;
		width: 500px;
		padding: 32px 24px;
		border-radius: 16px;
	}

	.right-panel {
		flex-basis: 1;
	}

	.top {
		flex-direction: row;
		justify-content: space-between;
	}

	.top > .top-divider {
		display: none;
	}

	.top > .top-left > h1 {
		text-align: left;
	}

	.top > .top-left > p {
		text-align: left;
		margin-bottom: 0px;
	}

	.time-seriers-db > .air-info {
		flex-direction: row;
		justify-content: space-between;
	}

	.time-seriers-db > .air-info > .index-circle {
		width: fit-content;
	}

	.time-seriers-db > .air-info > .index-circle > .index {
		margin-right: 10px;
	}

	.time-seriers-db > .air-info > .text {
		word-wrap: break-word;
		flex: 1;
		text-align: left;
		margin-top: 0px;
	}

	.time-seriers-db > .air-info > .text > p {
		color: #919595;
		font-size: 14px;
		word-wrap: break-word;
		width: 350px;
	}

	.time-seriers-db .chart-container {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.detail-pollutants > .panel-wrapper {
		display: flex !important;
		flex-direction: column;
		padding: 0 8px;
	}

	.detail-pollutants > .panel-wrapper > .panel {
		display: grid !important;
	}

	.detail-pollutants > .accordion {
		display: none;
	}

	.forecast {
		padding: 0 8px;
	}

	/* .panel-wrapper > .color_legend > .legend_container {
		display: grid;
		margin-top: 32px;

		grid-template-columns: 1fr 1fr 1fr;
		grid-row: auto auto;
		grid-column-gap: 30px;
		grid-row-gap: 30px;
	} */
}
