html {
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
}

body {
	margin: 0;
	background-color: #ffffff;

	display: flex;
	justify-content: center;
	align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.divider {
	margin: 40px 0px;
}

.container {
	margin-top: 24px;
	background-color: #171b1c;
	width: 500px;
	height: 920px;
	padding: 32px 24px;
	border-radius: 16px;
}

section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top {
	flex-direction: row;
}

.top > .top-left > h1 {
	font-size: 30px;
}

.top > .top-left > p {
	font-size: 15px;
	margin-top: 5px;
	color: #919595;
}

.top > .dropdown {
	position: relative;
}

.top > .dropdown > .language-button {
	width: 15px;
	height: 15px;
	padding: 12px;
	display: flex;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.top > .dropdown > .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.top > .dropdown > .dropdown-content > .lang-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	cursor: pointer;
}

.top > .dropdown .lang {
	width: 28px;
	height: 28px;
}

.top > .dropdown > .dropdown-content > .lang-box > p {
	color: black;
	text-decoration: none;
	display: block;
	margin-left: 8px;
	font-size: 14px;
}

.top > .dropdown > .dropdown-content .lang-box:hover > p {
	text-decoration: underline;
}

.drop-down-show {
	display: block !important;
}

/* SECTION: time-seriers-db */

.time-seriers-db {
	flex-direction: column;
}

.time-seriers-db > .air-info {
	padding: 1em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	width: 100%;
}

.time-seriers-db > .air-info > .index-circle {
	flex: 1;
}

.time-seriers-db > .air-info > .index-circle > .index {
	position: relative;
	height: 65px;
	width: 65px;
	background: conic-gradient(#e0bb4b 3.6deg, #383838 0deg);
	border-radius: 50%;
	display: flex;
	margin-right: 10px;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;
}

.time-seriers-db > .air-info > .index-circle > .index::before {
	content: "";
	position: absolute;
	height: 55px;
	width: 55px;
	background-color: #18191c;
	border-radius: 50%;
}

.time-seriers-db > .air-info > .index-circle > .index > span {
	position: relative;
}

.time-seriers-db > .air-info > .text {
	word-wrap: break-word;
	flex: 1;
}

.time-seriers-db > .air-info > .text > h4 {
	margin-bottom: 8px;
}

.time-seriers-db > .air-info > .text > p {
	color: #919595;
	font-size: 13px;
	word-wrap: break-word;
	width: 380px;
}

/* Style pollutants accordion */
.detail-pollutants > .accordion {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: 0.4s;
	font-size: 11px;
	cursor: pointer;
}

.detail-pollutants > .accordion i {
	margin-left: 8px;
	color: #c3c3c3;
	border: none;
}

.detail-pollutants > .panel {
	margin-top: 16px;
	padding: 0 18px;
	display: none;

	grid-template-columns: 1fr 1fr;
	grid-row: auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.detail-pollutants {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.pollutant-card {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	padding: 0.5em;
	height: fit-content;
}

.pollutant-card > .index-pollutant {
	position: relative;
	height: 60px;
	width: 60px;
	background: conic-gradient(#e0bb4b 0deg, #646e70 0deg);
	border-radius: 50%;
	display: flex;
	margin-right: 10px;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: 900;
}

.pollutant-card > .index-pollutant::before {
	content: "";
	position: absolute;
	height: 52px;
	width: 52px;
	background-color: #242c2e;
	border-radius: 50%;
}

.pollutant-card > .index-pollutant > span {
	position: relative;
	font-size: 14px;
}

.pollutant-card h4 {
	font-size: 13px;
	color: #171b1c;
}

.pollutant-card p {
	font-size: 11px;
	color: #171b1c;
}
