html {
	box-sizing: border-box;
}

#root {
	height: 100%;
}

.custom_vert_divider {
	width: 40px;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0 !important;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	height: 100%;
	margin: 0;
	line-height: 1.5;
	color: #121212;
}
textarea,
input,
button {
	font-size: 1rem;
	font-family: inherit;
	border: none;
	border-radius: 8px;
	padding: 0.5rem 0.75rem;
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
	background-color: white;
	line-height: 1.5;
	margin: 0;
}
button {
	color: #3992ff;
	font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
	box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
	transform: translateY(1px);
}
