.chart {
	display: flex;
	flex-direction: column;
}

.chart .top {
	margin-bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chart .category {
	display: flex;
	margin: 0;
	padding: 0;
}

.chart .category > li {
	list-style-type: none;
	color: #171b1c;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}

.chart .category > li:not(:first-child):not(:last-child) {
	margin: 0 8px;
}

.chart .category > li:first-child {
	margin-right: 8px;
}

.chart .category > li:last-child {
	margin-left: 8px;
}

.chart .category > li.active {
	border-bottom: 3px solid #0097bc;
}

.chart .category > li:not(.active) {
	color: #171b1c4c;
}

.chart .category > li:hover {
	color: #171b1c;
}

.chart .chart-container {
	width: 100%;
	margin: 24px 0;
	border: 1px solid #000000;
}

.chart > .buttons {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.chart > .buttons > button:first-child {
	margin-right: 8px;
}

.chart > .buttons > button:last-child {
	margin-left: 8px;
}

.chart > .buttons > .page {
	margin: 0;
}
