.navbar {
	display: flex;
	align-items: center;
	height: 60px;
	width: 100%;
	padding: 16px 32px;
	box-shadow: 1px 1px 10px 1px #dfdfdf;
}

.navbar > .logo_name {
	display: flex;
	align-items: center;
}

.navbar > .logo_name > img {
	margin-right: 8px;
}

.navbar .avatar {
	border: 1px solid #b6b6b6;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 16px;
}

.navbar .avatar > img {
	width: 24px;
	height: 24px;
}

.navbar .input {
	flex-basis: 50%;
}
