.statistics {
	display: flex;
	flex-direction: column;
}

.statistics .query {
	display: flex;
	flex-direction: column;
}

.statistics .picker {
	display: flex;
	width: 600px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.statistics .submit_btn {
	margin-top: 24px;
	width: 10%;
	height: 45px;
}

.statistics .statistic_panel_container {
	height: 500px;
}

.statistics .statistic_panel .chart_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 580px;
	padding: 16px;
	border-radius: 15px;
	box-shadow: 2px 8px 10px 2px #c7c8ce;
	background-color: #f9faff;
}

.statistics .statistic_panel .chart_item .header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
